@import 'styles/_colors';

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;

  .buttons {
    display: flex;
    flex-wrap: nowrap;

    .selection {
      padding: 0.5rem 0.75rem;
      border: 1px solid rgba($white, 0.1);

      &:hover {
        border: 1px solid rgba($black, 0.1);
        border-radius: 4px;
        box-shadow: 1px 1px 2px silver;
        cursor: pointer;
      }
    }

    .center-item {
      padding: 0.5rem 1rem;
      margin: 0 5px;

      &.current-page {
        font-size: 18px;
      }
    }
  }
}
