@import 'styles/_colors';
@import 'styles/_breakpoints';

.last-trainings {
  .toast {
    max-width: 100%;

    .list-group-item {
      th,
      td {
        border: none;
        text-align: center;
      }
    }

    .home-header {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      padding: 0.75rem 0.75rem 0 0.75rem;
      align-items: center;

      @media #{$only-on-mobile} {
        font-size: 14px;
      }
    }

    .date {
      font-weight: bold;
      margin-left: 30px;
      white-space: nowrap;

      @media #{$only-on-mobile} {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .exercise-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.change {
        padding-bottom: 20px;
      }

      .exercise-box {
        @media #{$only-on-mobile} {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .exercise-name {
          max-width: 70%;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 100%;
        }

        .sets-count {
          padding: 0.3em 0.8em;
          background: grey;
          border-radius: 15px;
          color: white;
          font-weight: bold;
          margin: 0 15px;
          box-shadow: 1px 1px 2px silver;
          transition: all 0.5s;

          &.change {
            transform: opacity 0.8s ease-in-out;
            opacity: 0;
          }

          @media #{$only-on-mobile} {
            display: none;
          }
        }
      }

      .see-more {
        &:hover {
          box-shadow: 1px 1px 2px silver;
          border-radius: 2px;
          cursor: pointer;
        }

        .more-button {
          font-size: 22px;
          transition: all 0.5s;
          &.change {
            transform: rotateZ(180deg);
          }
        }
      }
    }
    .exercise-table {
    }
  }
}
