@import 'styles/_colors';
@import 'styles/_breakpoints';

.training-list {
  .exercise-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 15px;

    .select-exercise {
      width: 65%;

      @media #{$only-on-mobile} {
        width: 100%;
      }
    }
    .digits {
      width: 10%;
      @media #{$only-on-mobile} {
        width: 45%;
      }
    }
    .button-container {
      margin-bottom: 1rem;
      margin-top: 2rem;
      border: 1px solid #ced4da;
      padding: 0.375rem 0.75rem;
      text-align: center;
      border-radius: 0.25rem;
      background: $white;

      .icon {
        font-size: 1rem;
        color: $primary;
      }

      @media #{$only-on-mobile} {
        width: 100%;
        background: $primary;

        .icon {
          color: $white;
        }
      }

      &:hover {
        background: $primary;
        cursor: pointer;
        .icon {
          color: $white;
        }
      }
    }
  }
}
