@import 'styles/_colors';
@import 'styles/_breakpoints';
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.main-nav {
  .logo {
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    margin-right: 30px;
    margin-left: -15px;
    color: $black;
  }
  .logo-img {
    width: 35px;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
  }
  .nav-link {
    text-decoration: none;
    color: rgba($black, 0.5);
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;

    &:hover {
      color: rgba($black, 0.8);
    }
  }
}
