@import 'styles/_colors';
@import 'styles/_breakpoints';

.exercises-list {
  .exercise-title {
    font-size: 30px;

    &:focus {
      outline: 0 !important;
    }
  }

  .icon {
    font-size: 30px;
    &:hover {
      color: $nav-bg;
    }
  }
}
