@import '~bootstrap/scss/bootstrap';
@import '_colors';
@import '_breakpoints';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  .simple-link {
    text-decoration: none;
    color: $white;
  }
  .remove-outline {
    outline: none;
  }
}
